
@{
    ViewBag.Title = "Index";
}

<h2>DataGrid with DropDownBox</h2>
<script>
    function customizeDisplayText(cell, info) {
        var rowData = info.row.data;
        if (!rowData)
            return;
        var texts = [];
        if (rowData.StateID && rowData.StateID.length) {
            for (var i = 0; i < rowData.StateID.length; i++) {
                var value = rowData.StateID[i];
                var displayText = info.column.lookup.calculateCellValue(value);
                if (displayText)
                    texts.push(displayText);
            }
        }
        cell.append(texts.toString());
    };
    function onValueChanged(args) {
        var grid = $("#gridContainer").dxDataGrid("instance");
        if (!grid.hasEditData())
            grid.option("editing.mode", args.value);
        else
            DevExpress.ui.notify("Finish editing first");
    }
</script>
@(Html.DevExtreme().DataGrid()
        .ID("gridContainer")       
        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Cell);
            editing.AllowUpdating(true);
            editing.AllowAdding(true);
            editing.AllowDeleting(true);
        })
        .Columns(columns =>
        {
        columns.Add()
            .DataField("Prefix")
            .Caption("Title")
            .Width(55);
        columns.Add()
            .DataField("FirstName");
        columns.Add()
            .DataField("LastName");
        columns.Add()
            .DataField("Position")
            .Width(170);
        columns.Add()
            .DataField("StateID")
            .Caption("State")
            .AllowFiltering(false)
               .CellTemplate(new JS("customizeDisplayText"))
                .Lookup(lookup => lookup
                    .DataSource(d => d.WebApi().Controller("Data").LoadAction("GetStates").Key("ID")).DataSourceOptions(op => op.PageSize(10).Paginate(true))

                    .DisplayExpr("Name")
                    .ValueExpr("ID")
                ).EditCellTemplate(@<text>
                        @Html.Partial("DxDropDownBox")
                </text>);
            columns.Add()
                .DataField("BirthDate")
                .DataType(GridColumnDataType.Date);
        })
        .DataSource(d => d.WebApi().Controller("Data").Key("ID"))
)

<div class="options">
    <div class="caption">Options</div>
    <div class="edit-mode option">
        <span>Change Edit Mode</span>
        @(Html.DevExtreme().SelectBox()
                .DataSource(new string[] { "row", "form", "popup", "cell" })
                .Value("cell")
                .OnValueChanged("onValueChanged")
        )
    </div>
</div>